<div class="card">
  <div class="card-header">
    <h3 class="card-title"> <%= title %> </h3>
  </div>
  <div class="card-body">
    <p class="cert-desc">
      <%= desc %>
    </p>
    <a class="btn btn-outline-primary btn-lg" href="<%= href %>" role="button">Certification</a>
  </div>
</div>
