<div id="skills-carousel" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <% skills.forEach((skill) => { %>
      <% if(skill.active) { %>
        <div class="carousel-item active">
          <i class="<%= skill.image %>"></i>
          <h3> <%= skill.title %> </h3>
        </div>
      <% } else { %>
        <div class="carousel-item">
          <i class="<%= skill.image %>"></i>
          <h3> <%= skill.title %> </h3>
        </div>
      <% } %>
    <% }); %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#skills-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#skills-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
