<section class="footer bg-dark">
  <a href="/about-me" class="footer-link"><i class="fa-solid fa-align-justify footer-img"></i> About</a>
  <a href="/contact-me" class="footer-link"><i class="fa-solid fa-envelope footer-img"></i> Contact</a>
  <a href="https://github.com/bpc2003" class="footer-link"><i class="fa-brands fa-github footer-img"></i> Github</a>
  <p>&copy; <%= currentYear %> Benjamin Coppe</p>
</section>
</body>

</html>
