<section class="footer">
  <a href="https://www.linkedin.com/in/benjamin-coppe-8595451a4/" class="footer-link"><i class="fa-brands fa-linkedin footer-img"></i> LinkedIn</a>
  <a href="https://github.com/bpc2003" class="footer-link"><i class="fa-brands fa-github footer-img"></i> GitHub</a>
  <a href="/Contact-Me" class="footer-link"><i class="fa-solid fa-globe footer-img"></i> Contact Me</a>
  <p>&copy; <%= currentYear %> Benjamin Coppe</p>
</section>
</body>

</html>
