.container-fluid {
    text-align: center;
    padding: 7% 15%;
}

.container-fluid .child {
    text-align: left;
    display: inline-block;
    color: #fff;
}

.app-nav .container-fluid{
    padding: .5%;
}

.top {
    margin-bottom: 5%;
}

.header,
.subheader {
    font-family: "Radio Canada", sans-serif;
    color: #fff;
}

.intro p {
    width: 75%;
}

.fa-hand {
    color: #000;
    transform: rotate(45deg);
    margin-bottom: 5px;
}

.main-content {
    margin-bottom: 10px;
}

.car {
    margin-bottom: 9rem;
}

.card {
    width: 75%;
    margin-bottom: 1rem;
}

.about {
    padding: 7% 20% 25%;
}

.about p {
    width: 45%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    color: #21251FD9;
}

p {
    font-family: "Radio Canada", sans-serif;
    color: gray
}

i {
    font-size: 3rem;
}

.python-logo {
    color: #306998;
}

.js-logo {
    color: #F0DB4F;
}

.html-logo {
    color: #E34C26;
}

.css-logo {
    color: #264DE4;
}

.node-logo {
    color: #3C873A;
}

.react-logo {
    color: #61DBFB;
}

.bootstrap-logo {
    color: #553C7B;
}

.footer {
    padding: 2% 5%;
    margin-bottom: 0;
}

.footer a,
.footer p {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.footer a:hover {
    color: #0d6efd;
}

@media only screen and (hover: none) and (pointer: coarse) {

    p {
        font-size: .9rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
    }

    .header {
        font-size: 2rem;
    }

    .ctm {
        width: 300px;
        right: 3rem;
    }

    .card {
        width: 12rem;
        left: 4rem;
    }

    .about {
        padding-bottom: 72%;
    }

    .about p {
        width: 60%;
    }
}