h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    color: #21251FD9;
}

.container-fluid {
    text-align: center;
    padding: 7% 15%;
}

.container-fluid .child{
    text-align: left;
    display: inline-block;
    color: #fff;
}

.header, .subheader {
    font-family: "Radio Canada", sans-serif;
    color: #fff;
}

p {
    font-family: "Radio Canada", sans-serif;
    color: gray
}

.footer a, .footer p {
    margin-right: 10px;
    color: white;
    text-decoration: none; 
    text-align: center;
}

.footer a:hover{
    color: #0d6efd;
}

@media only screen and (hover: none) and (pointer: coarse){
    .ctm {
        width: 300px;
    }     
}