<%- include("partials/header"); -%>
<link rel="stylesheet" type="text/css" href="/css/about.min.css">
<link rel="stylesheet" type="text/css" href="/css/alt.css">

<section class="about-me">
  <h1>About Me: </h1>
  <p>
    Ben Coppe is a freelance web developer and is exceptionally
    skilled in back-end and front-end development. He knows how to
    make a website that pops out but is still easy on the eyes and how to make it functional.
    He highly values honesty and integrity and is available for freelance or consulting work; you can contact him <a href="/contact-me">here</a>.
  </p>
</section>
<%- include("partials/footer"); -%>
