<%- include("partials/header"); -%>
<link rel="stylesheet" type="text/css" href="/css/about.min.css">

<section class="about-me">
  <h1>About Me: </h1>
  <p>
    Ben Coppe is a student trying to launch my career as a full-stack developer.
    He's been interested in computers and programming since 3rd grade,
    it all started when his older brother got me a raspberry pi 3 and a book on programming it, and from
    there his fascination grew exponentially.
  </p>

  <hr />

  <p>
    His fascination led him to learning many different things about computers,
    and has made various different projects which show off his knowledge,
    not the least of which is his website.
  </p>

  <hr />

  <p>
    He is currently looking to work as a freelance web developer, doing both back-end and front-end development.
  </p>


</section>
<%- include("partials/footer"); -%>
