<%- include("partials/header"); -%>
<link rel="stylesheet" type="text/css" href="/css/about.min.css">
<link rel="stylesheet" type="text/css" href="/css/alt.css">

<section class="about-me">
  <h1>About Me: </h1>
  <p>
    <%= content %>
  </p>
</section>
<%- include("partials/footer"); -%>
