<%- include("partials/header"); -%>
<link rel="stylesheet" href="css/failure.css">
<h3>Uh Oh</h3>
<p>
  It Seems you entered some invalid information,
  please press the button to try again
</p>
<form action="/failure" method="post">
  <button type="submit" name="button" class="btn btn-large btn-warning">Try Again</button>
</form>
<%- include("partials/footer"); -%>
