<%- include("partials/header"); -%>
<section class="top bg-dark">
  <div class="child">
    <h1 class="header">Ben Coppe.</h1>
    <h3 class="subheader">A <span style="text-decoration: underline;">pro</span>grammer.</h3>
  </div>
</section>

<section class="intro">
  <div class="child">
    <i class="fa-solid fa-hand hand-wave"></i>
    <h2 id="hello-there">Hello There</h2>
    <p style="width: 70%;">I'm a student trying to jump-start my career into web development</p>
  </div>
</section>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="child">
          <div style="text-align: center; margin-top: 30px;">
            <h2>Technologies</h2>
            <%- include("partials/carousel"); -%>
          </div>

          <div class="ctm">
            <h2>Contact Me:</h2>
            <h3>Email & Phone Number: </h3>
            <p>
              Email: benjamin.p.coppe@gmail.com <br />
              Phone Number: +1 (631) 784-5973
            </p>
            <a href="/contact-me" class="btn btn-outline-dark btn-lg" role="button">Contact Me</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="child">
          <% for(let i = 0; i < certificates.titles.length; i++) {%>
          <div class="card-div">
            <%- include("partials/card", {title: certificates.titles[i], desc: certificates.descs[i],
                                          href: certificates.hrefs[i]}); -%>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="scripts/index.min.js" charset="utf-8"></script>
<%- include("partials/footer"); -%>
