<%- include("partials/header"); -%>
    <section>
      <h3>Thanks For Getting in Touch, <%= name %> </h3>
      <p>Thanks For Getting in Touch, I'll Get Back to You As Soon As Possible</p>
      <a href="/" class="btn btn-primary btn-large">Home Page</a>
    </section>
<%- include("partials/footer"); -%>
