.about-me {
  text-align: left;
  padding: 4% 7%;
  margin-bottom: 25%;
}

.about-me p {
  width: 45%;
}

.about-me a {
  text-decoration: none;
}


.footer {
  text-align: center;
  padding: 3% 6%;
}

@media (pointer:none), (pointer:coarse) {
  .about-me {
    min-height: 1000px;
    height: 100%;
    margin: 100px auto 100px auto;
  }
}
