h3 {
  text-align: center;
  margin-top: 200px;
  padding-bottom: 0;
}

form {
  text-align: center;
  margin: 50px 100px 250px 100px;
  color: #EAF6F6;
  font-family: 'Roboto', sans-serif;
}

input {
  margin-bottom: 10px;
}

#name {
  margin-right: 70px;
}

#email {
  margin-right: 70px;
}

#msg-lbl {
  margin-right: 255px;
  margin-bottom: 10px;
}

#msg {
  margin-right: 110px;
}

.btn-primary {
  margin-right: 305px;
  margin-top: 10px;
}

.btn-secondary {
  position: relative;
  text-align: center;
  margin-left: 39%;
  margin-bottom: 10px;
}
