body {
  font-family: "Radio Canada", sans-serif;
  color: #000;
}

/* General Section Rules */
section {
  text-align: center;
  margin-bottom: 10px;
}

section .child {
  display: inline-block;
  text-align: left;
}

/* Top Section Rules */
.top {
  background-color: #000;
  padding: 7% 15%;
}

.header, .subheader {
  color: #fff;
}

/* Intro Section Rules */
.intro {
  margin: 20px 0 20px 0;
}

.hand-wave {
  transform: rotate(45deg);
}

.intro, .content {
  padding: 3% 7%;
}

/* Content Section Rules */
.content .container-fluid .row .col-6 {
  margin-bottom: 20px;
}

.content .container-fluid .carousel {
  margin: 0 auto 0 auto;
  text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(100%);
}

.card {
  width: 60%;
}

.cert-desc {
  width: 75%;
}

.card-div {
  margin: 20px auto;
}

.ctm {
  margin: 40% auto;
}


/* Footer Section Rules */
.footer {
  background-color: #000;
  color: #fff;
  padding: 7% 15%;
  margin-bottom: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 20px;
}

.footer i {
  font-size: 1.25rem;
}

.footer a:hover{
  color: #0D6EFD;
}

.footer p {
  color: #fff;
}

/* General Text and FontAwesome CSS */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #181935;
}

p {
  color: gray;
}

i {
  font-size: 50px;
  margin-bottom: 10px;
}

.rotate {
  transform: rotate(60deg);
  transition-property: transform;
  transition-duration: 1s;
}

.python-logo {
  color: #306998;
}

.node-logo {
  color: #3C873A;
}

.bootstrap-logo {
  color: #553C7B;
}

.html-logo {
  color: #E34C26;
}

.css-logo {
  color: #264DE4;
}

.js-logo {
  color: #F0DB4F;
}

.cert-logo {
  font-size: 35px;
}

@media (pointer:none), (pointer:coarse) {
  .top, .footer {
    height: 100%;
    min-height: 500px;
    padding-bottom: 1.25%;
    padding-top: 1.25%;
  }

  .top h1 {
    margin-top: 75%;
  }

  .card {
    width: 85%;
  }

  .cert-desc {
    width: 85%;
  }

  .lower {
    margin-right: auto;
  }
}
